.table {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
   
}

.row {
    display: block;
}

.col-1 {
            width: 8.33333333333%;

        }

        .col-2 {
            width: 16.6666666667%;
        }
        .col-3 {
            width:25%;
        }
        .col-4 {
            width: 33.3333333333%;

        }
        .col-5 {
            width: 41.6666666667%;
        }
        .col-6 {
            width:50%;
        }
        .col-7 {
            width: 58.3333333333%;
        }
        .col-8 {
            width:66.6666666666%;
        }
        .col-9 {
            width:75%;
        }
        .col-10 {
            width: 83.3333333333%;
        }
        .col-11 {
             width:91.6666666666%; 
        }
        .col-12 {
             width: 100%;
        }

        [class*="col-"] {
          float:left; 
        }

        [class*="col-"]:last-of-type {
        }

        .row:before
            :after
        {
          clear: both;
          content:"";
        }

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    min-width: 1368px;
    text-align: center;
    
}
#header {
    margin: 0;
    padding: 0;
    height: 120px;
    max-height: 150px;
    position: fixed;
    background-color: white;
    z-index: 1;
    
}
#head {
    margin: 0 auto;
    height: 100%;
    background-color: #011a27;
    z-index: 1;
    text-align: center;
}

#head .logo {
    margin: 0;
    padding: 0;
    width: 90%;
    margin-top: 5%;
    
}

#nav-bar {
    margin: 0;
    padding: 0;
    height: 100%;
}

.head-nav{
    margin: 0;
    padding: 0;
    width:100%;
    max-height: 100%;
    position: relative;
    top: 35%;
   
}
.head-nav ul {
	list-style:none;
	position:relative;
	margin:0;
	padding:0;
}

.head-nav ul {
	list-style:none;
	position:relative;
    left: 0%;
	margin:0;
	padding:0;
    text-align: center;
}

.head-nav ul a
{
	display:block;
	  color: black;
	text-decoration:none;
	font-weight:200;
	font-size:100%;
	line-height:1.5;

	font-family: 'Poppins', sans-serif;
}

.head-nav ul li
{
	position:relative;
    float: left;
	margin:0;
	padding:0;
    width: 200px;
    text-align: center;
}


.head-nav ul li a:hover
{
    color: darkgrey;
}

.head-nav ul ul
{
	display:none;
	top:100%;
	left:0;
	padding:0;
    background-color: white;
}

.head-nav ul ul li
{
	float:none;
	width:200px;
}

.head-nav ul ul a
{
     color:black;
	text-decoration:none;
	font-weight:200;
	font-size:90%;
	line-height:1.5;
	font-family: 'Poppins', sans-serif;
}
    
}

.head-nav ul ul ul
{
	top:0;
	left:100%
}

.head-nav ul li:hover > ul
{
	display:block
}



#top-img {
    margin: 0 auto;
    padding: 0;
    height: 800px;
    max-height: 800px;
    overflow: hidden;
    background-image: url('../img/skyscraper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}
#fade {
    margin: 0;
    padding: 0;
    height: 100%;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5));
    text-align: center;
}
#fade p {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 500%;
    color: white;
    position: relative;
    top: 45%;
}

#search{
    margin: 0;
    padding: 0;
    height: 200px;
    max-height: 200px;
    text-align: center;
    position: relative;
    margin-bottom: 0%;
    background-color: #011a27;
   
    
}

select {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 50px;
    position: relative;
    top: 35%;
    left: 7%;
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
}

input {
    margin: 0;
    padding: 0;
    width: 15%;
    height: 35px;
    position: relative;
    top: 65%;
    right: 40%;
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
    
}
#all-houses {
    margin: 0;
    padding: 0;
    height: 550px;
    position: relative;
    left: 5%;
    margin-top: 3%;
    
}
#all-houses #house {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

#pic, #info {
    margin: 0;
    padding: 0;
    height: 100%;
}

#all-houses #house #pic .profile-pic {
    width: 100%;
    
    
}

#info p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 120%;
    color: black;
    margin-top: 15%;
    
}

#info a {
    text-decoration: none;
     font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 100%;
    color: black;
}






@media only screen 
  and (max-device-width: 1366px)     
  and (min-device-width: 1025px)  {  

    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: 100%;
        max-width: 1366px;
        min-width: 1025px;
        text-align: center;    
    }
      
    #top-img {
        height: 600px;
        max-height: 700px;
    }
      
      #fade p {
          font-size: 400%;
      }
        
    #header {
        height: 90px;    
    }
      
    #head .logo {
        margin-top: 8%;
      }  
    
    #search{
    
    height: 150px;
    max-height: 200px;
    
    }

    select {
        
        height: 40px;
        
    }

    input {
        
        height: 35px;
 
    }  
     
      #all-houses {
          margin-top: 1%;
      }
}
        
@media only screen 
  and (max-device-width: 1024px)     
  and (min-device-width: 768px) 
 and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1){  

    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: 100%;
        max-width: 1024px;
        min-width: 768px;
        text-align: center;    
    }
      
     #top-img {
        height: 500px;
        max-height: 600px;
    }
      
      #fade p {
          font-size: 300%;
      } 
      
      #header {
          height: 80px;
      }
      
      select {
          font-size: 100%;
      }
      
      input {
          font-size: 100%;
      }
      
      #all-houses {
          margin-top: 1%;
          height: 400px;
      }
      
}

@media only screen 
  and (max-device-width: 1024px)     
  and (min-device-width: 768px)  
    and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1)  {  

    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: 100%;
        max-width: 1024px;
        min-width: 768px;
        text-align: center;    
    }
      
     #top-img {
        height: 500px;
        max-height: 600px;
    }
      
      #fade p {
          font-size: 300%;
      } 
      
      #header {
          height: 80px;
      }
      
       #all-houses {
          margin-top: 1%;
          height: 400px;
      }
      
      #info p {
          font-size:  130%;
      }
      
      #info a {
          font-size: 110%;
      }
      
}